@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300&display=swap');
/*Remove all defult CSS from the pages*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting up the background color and layout */

body {
    background-color: #005CB8;
    color: #04333C;
    font-family: Lato, sans-serif;
    height: auto;
    height: 100vh;
}

/*Hearder Styling*/

header {
height: 5rem;
width: 100%;
padding-left: 1rem;
font-size: 1.5rem;
font-family: 'Abril Fatface', sans-serif;
color: azure;
}

nav {
    font-size: 1.5rem;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
}
#menu li {
    display: inline-block;
    list-style-type: none;
    margin: 1vh 1vh 0 0;
    padding-right: 1vh;
}
#menu a{
    text-decoration: none;
    color: inherit;}
#menu a:hover {
    border-bottom: 1px solid #CBEA3E;
    color: #CBEA3E;
}
.active {
    border-bottom: 1px solid #CBEA3E;}

/* Footer Styling */

footer{
    position: fixed;
    bottom: 0;
    max-height: 10vh;
    width: 100%;
    background-color: azure;
    justify-content: center;
    align-items: center;
}
.social-links {
    text-align: center}
.social-links > li {
    display: inline;}
.social-links i{
    font-size: 2rem;
    color: #04333C;
    padding-left: 3rem;
}
.social-links i:hover {
    color: #CBEA3E;}
 
/* Form Styling */
form {
    font-size: 1vh;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 1rem;
    font-size: 2rem;
    border: none;
    background: azure;
}

form button {
    color: #04333C;
    background:azure;
    cursor: pointer;
    transition: all 0.5s ease;
}

form button:hover {
    color: #CBEA3E;
}

 /* Shopping items list styling */

.shopping-items-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopping-items-list-item {
    width: 50%;
    list-style: none;
    }

.item-to-list {
    margin: 0.5rem;
    background: azure;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-to-list li {
    flex: 1;
}

.item-purchased-btn, .remove-item-btn {
    background: #CBEA3E;
    color: #04333C;
    border: 5%;
    border-color: #04333C;
    border-radius: 5px;
    padding: 1rem;
    margin: 0.1rem;
    cursor: pointer;
}
.remove-item-btn {
    background: rgb(249, 70, 4);
}
.fa-minus, .fa-check {
    pointer-events: none;
}

.item-purchased {
    opacity: 0.5;
    background-color: #CBEA3E;
}
 /* End of list.html css */

 /* Start of Game CSS Styling */

 section {
    height: 92vh;
 }

 .score {
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
 }

 .info{
    color: azure;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    transition: opacity 0.5s ease;
 }

 .play-zone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.5s;
 }

 .outcome {
    color: azure;
    text-align: center;
 }

 .items, .choices {
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .items img {
    margin:5vh;
 }

 div.fadeOut {
    opacity: 0;
    pointer-events: none;
 }

 div.fadeIn {
    opacity: 1;
    pointer-events: all;
 }

 /*Style buttons on game*/
 .choices button, .info button {
    background: #CBEA3E;
    color: #04333C;
    border: 5%;
    border-color: #04333C;
    border-radius: 5px;
    padding: 1rem;
    margin: 0.1rem;
    cursor: pointer;
 }

 .choices button:hover {
    background: #04333C;
    color: #CBEA3E;
 }

 .resetButton input {
    background: #ea3e3e;
    color: #04333C;
    border: 5%;
    border-color: #04333C;
    border-radius: 5px;
    padding: 1rem;
    margin: 0.1rem;
    cursor: pointer;
 }

 .resetButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
 }

 /* Form Styling*/
 .subscribe-form{
    background-color: #CBEA3E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70%;
    font-size: 2vh;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;}


.subscribe-form input {
    width: 50%;
    height: 2vh;
    margin: 0;
}

.subscribe-form label {
    font-size: 30px;
    margin: 0;
}

.subscribe-form h2 {
    font-size: 40px;
}
#submit-button {
    background: #04333C;
    color: #CBEA3E;
    border: 5%;
    border-color: #04333C;
    border-radius: 5px;
    padding: 1rem;
    margin: 0.1rem;
    cursor: pointer;
    height: 4rem;
    width: 10rem;
    font-size: 30px;
}



 /* To cover screen widths up to a maximum of 1200px*/
 @media screen and (max-width: 1200px){
 .subscribe-form{
    background-color: #CBEA3E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70%;
    font-size: 2vh;
    margin: 2rem;}


.subscribe-form input {
    width: 50%;
    height: 2vh;
    margin: 0.25rem;
}

.subscribe-form label {
    font-size: 20px;
}

.subscribe-form h2 {
    font-size: 35px;
}
#submit-button {
    background: #04333C;
    color: #CBEA3E;
    border: 5%;
    border-color: #04333C;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    height: 4rem;
    width: 10rem;
}
}

